
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

/*********************
    Global Styles
**********************/

*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
}

.caps , .input-field > label{
    text-transform: capitalize;
}

.heading{
    font-weight: 400;
    margin:1em auto 1em auto;
}